{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'info_mgt/css/info_mgt.css' %}"
/>
{% endblock extra_head %}

{% block card_content %}
<div id="info_mgt" class="card-content">
    <form action="{{ app_path }}" method="post" id="class-add-form">{% csrf_token %}
        <div style="width: 100%">
        {{ forms }}
        </div>
        <label>院系</label>
        <input type="text" name="major">
        <input type="file" name="avatar"/>
        <div class="action right-align">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
        {% if result == 'success' and edit_result == True%}
        <div class="done-msg">
          <i class="material-icons">done</i>
            修改账户成功！
        </div>
        {% elif edit_result == False%}
            <div class="err-msg">
            <i class="material-icons">warning</i>
            修改失败！
            </div>
        {% endif %}
    </div>
{% endblock card_content %}