{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block title %}个人信息{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'info_mgt/css/info_mgt.css' %}"/>
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.js"></script>
{% endblock extra_head %}

{% block card_content %}
    <div id="info_mgt" class="card-content">
    <form action="{{ app_path }}" method="post" id="edit-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="file" name="avatar"/>
    <input type="submit" value="添加用户" class="edit-button"/>
    </form>
    {% if edit_result and edit %}
        <script>
        $(document).ready(function(){
            toastr.options.positionClass = 'toast-top-center';
            toastr.success('提交数据成功');
        });
        </script>
    {% elif edit %}
        <script>
        $(document).ready(function(){
            toastr.options.positionClass = 'toast-top-center';
            toastr.error('修改数据失败')
        });
        </script>
    {% endif %}
    </div>
{% endblock card_content %}
