{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'info_mgt/css/info_mgt.css' %}"
/>
{% endblock extra_head %}

{% block card_content %}
<div id="info_mgt" class="card-content">
    <form action="{{ app_path }}" method="post" id="edit-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% form form=form %}
        {% endform %}
        <input type="file" name="avatar"/>
        <div class="action right-align">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
{#    <form action="{{ app_path }}" method="post" name = "sub">#}
{#        {% csrf_token %}#}
{#        {{ avatarform }}#}
{#    <input type="submit" value="submit" class="edit-button"/>#}
{#    </form>#}
{#    <div class="avatar-area">#}
{#        <img src="{{ avatarpath }}" class="img-avatar"/>#}
{#    </div>#}
    {% if edit_result and edit %}
        <div class="done-msg">
          <i class="material-icons">done</i>
          信息修改成功！
        </div>
        {% elif edit %}
            <div class="err-msg">
            <i class="material-icons">warning</i>
            修改失败！
            </div>
        {% endif %}

    </div>
{% endblock card_content %}
