{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_head %}
{% endblock extra_head %}

{% block card_content %}

<div id="class_selection" class="card-content">
<form method="POST" style="margin-bottom:30px" action="#/">
     {% csrf_token %}
    <table class="tab_03">
    <tbody>
        <tr style="border:0">
            <td width="30%">
                选择操作：
            </td>
        </tr>
        <tr style="border:0">
        <td width="30%">
            <select name="option" id="cx_cxlb_1" class="form-control">
            <option value="" disabled selected>选课/退选</option>
            <option value="In">手动选课</option>
            <option value="Out">手动退课</option>

            </select>
        </td>

        </tr>


        <tr style="border:0">
            <td width="30%">
                <input type="text" name="Student_id" placeholder="请输入学生学号.." required>
            </td>
            <td width="30%">
                <input type="text" name="Class_id" placeholder="请输入教学班编号.." required>
            </td>
        </tr>


        <tr>
            <td colspan="5" style="text-align:center"><button type="submit" style="margin-left:15px;background:#08c" class="btn btn-primary btn-sm" id="btn_cxjxb"> 确认 </button> </td>
        </tr>
    </tbody>
    </table>
</form>

</div>
<script>
    $(document).ready(function(){
    $('select').formSelect();
    });
</script>
{% endblock card_content %}




