{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'info_mgt/css/lists.css' %}" />
{% endblock extra_head %}

{% block card_content %}

<div  class="card-content">

<span style="font-size:30px">选课时间</span>
<br>
<table>
    <thead>
        <tr><th>    </th><th>开始时间</th><th>截止时间</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>初选阶段</td>
            <td>{{ time_zero.start }}</td>
            <td>{{ time_zero.end }}</td>
        </tr>
        <tr>
            <td>补选阶段</td>
            <td>{{ time_one.start }}</td>
            <td>{{ time_one.end }}</td>
        </tr>
  </tbody>

</table>
</div>

{% endblock card_content %}

