{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_head %}
{% endblock extra_head %}

{% block card_content %}
<script>
function check_auth(){
    {% if identity == -1 %}
        window.alert('只有学生可以参与选课！');
        window.history.back(-1);
    {% endif %}
    {% if identity == 2 %}
        window.alert('现在不在选课时间内！');
        window.history.back(-1);
    {% endif %}

}
check_auth()
</script>

<script>
function check(){
    {% if space_out %}
        window.alert('选课失败，该课程已无余量！');
    {% elif tab_missing %}
        window.alert('查询失败，姓名之间要有空格！');
    {% elif tea_non %}
        window.alert('查询失败，该老师不存在！');
    {% elif conflict_err %}
        window.alert('选课失败，时间冲突！');
    {% endif %}
}
    check();
</script>
<div id="class_selection" class="card-content">
<form method="POST" action="#/" style="margin-bottom:30px">
    {% csrf_token %}
    <table class="tab_03">
    <tbody>
        <tr style="border:0">
        <td width="30%">


            <select name="cxkc_1" id="cxkc_1" class="form-control">
            <option value="" disabled selected>选择查询类别</option>
            <option value="skjs">授课教师</option>
            <option value="kcbh">课程代码</option>
            <option value="kcmc">课程名称</option>

            </select>
        </td>
        <td>
            <input type="text" name="cx_input_1" value="" id="cx_input_1" class="form-control" required>
        </td>
        </tr>

        <tr>
            <td><input type="hidden" style="" name="my_option" id="my_option" value="selectclass"></input></td>
            <td colspan="5" style="text-align:center"><button type="submit" style="margin-left:15px;background:#08c" class="btn btn-primary btn-sm" id="btn_cxkc"> 查询课程 </button> </td>
        </tr>
    </tbody>
    </table>
</form>

<span style="font-size:25px">可选课程</span>
<form method="POST" action="#/">
{% csrf_token %}
<table>
    <thead>
        <tr>
            <th>课程编号</th>
            <th>课程名称</th>
            <th>授课教师</th>
            <th>上课时间</th>
            <th>上课地点</th>
            <th>已选人数/总容量</th>
            <th>详细信息</th>

            <th colspan="2">选课状态</th>
        </tr>
    </thead>
    <tbody>
    {% if class_info %}
        {% for i in class_info %}

            <td>{{ i.course_id }}</td>
            <td>{{ i.course.name }}</td>
            <td>{{ i.teacher.last_name }}&nbsp;{{ i.teacher.first_name }} </td>
            <td>
            {% for j in i.classhasroom_set.all %}
                <div>
                    {% if j.classroom %}
                        {% if j.day == 1 %}
                            周一
                        {% elif j.day == 2 %}
                            周二
                        {% elif j.day == 3 %}
                            周三
                        {% elif j.day == 4 %}
                            周四
                        {% elif j.day == 5 %}
                            周五
                        {% elif j.day == 6 %}
                            周六
                        {% elif j.day == 7 %}
                            周日
                        {% endif %}
                        {{ j.start_at }}-{{ j.end_at }}节
                    {% else %}
                        {{ j.duration }}节课，暂未安排
                    {% endif %}
                </div>
            {% endfor %}
            </td>
            <td>
                {% for j in i.classhasroom_set.all %}
                    {% if j.classroom %}
                            <div>{{ j.classroom.building.campus.name }}{{ j.classroom.building.name }}{{ j.classroom.room_number }}</div>
                        {% else %}
                            <br/>
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ i.memberCnt}}/{{i.course.capacity}}</td>
            <td><a href="{% url 'info_mgt:course_display' i.course.name %}">查看</a></td>
            <td><input type="hidden" style="" name="my_option" id="my_option" value="chooseclass"></input></td>
            {% if i in my_class %}
            <td><input type="submit" class="btn btn-default" name="{{i.id}}" value="drop"></td>
            {% else %}
            <td><input type="submit" class="btn btn-primary btn-sm" name="{{i.id}}" value="select"></td>
            {% endif %}
            </tr>
        {% endfor %}
    {% endif %}

    </tbody>
</table>
</form>
</div>
<script>
    $(document).ready(function(){
    $('select').formSelect();
    });
</script>

{% endblock card_content %}
