{% extends 'skeleton.html' %} 

{% load static %}
{% load material_form %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'info_mgt/css/lists.css' %}" />
{% endblock extra_head %}

{% block card_content %}

<div  class="card-content">

<span style="font-size:30px">课程列表</span>
<button type="button" class="btn btn-default"style="position:relative; float:right;"
        onclick="window.history.go(-1)">课程表</button>
<table>
    <thead>
        <tr>

            <th>授课教师</th>
            <th>课程编号</th>
            <th>课程名称</th>
            <th>上课时间</th>
            <th>上课地点</th>
            <th>详细信息</th>

        </tr>
    </thead>
    <tbody>
    {% if has_class_list %}
        {% for i in has_class_list %}

            <tr>
            <td>{{ i.Class.teacher.last_name }}&nbsp;{{ i.Class.teacher.first_name }}</td>
            <td>{{ i.Class_id }}</td>
            <td>{{ i.Class.course.name }}</td>
            <td>
            {% for j in i.Class.classhasroom_set.all %}
                <div>
                    {% if j.classroom %}
                        {% if j.day == 1 %}
                            周一
                        {% elif j.day == 2 %}
                            周二
                        {% elif j.day == 3 %}
                            周三
                        {% elif j.day == 4 %}
                            周四
                        {% elif j.day == 5 %}
                            周五
                        {% elif j.day == 6 %}
                            周六
                        {% elif j.day == 7 %}
                            周日
                        {% endif %}
                        {{ j.start_at }}-{{ j.end_at }}节
                    {% else %}
                        {{ j.duration }}节课，暂未安排
                    {% endif %}
                </div>
            {% endfor %}
            </td>
            <td>
                {% for j in i.Class.classhasroom_set.all %}
                    {% if j.classroom %}
                            <div>{{ j.classroom.building.campus.name }}{{ j.classroom.building.name }}{{ j.classroom.room_number }}</div>
                        {% else %}
                            <br/>
                    {% endif %}
                {% endfor %}
            </td>
            <td><a href="{% url 'info_mgt:course_display' i.Class.course.name %}">查看</a>
                   </tr>
        {% endfor %}
    {% endif %}

    </tbody>
</table>
</div>

{% endblock card_content %}