{% extends 'skeleton.html' %} 

{% load static %}
{% load material_form %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'info_mgt/css/lists.css' %}" />
{% endblock extra_head %}

{% block card_content %}
<script>
function check(){
    {% if identity == 0 %}
        window.alert('非教师身份无法查看教师课程！');
        window.history.back(-1);
    {% endif %}
}
    check();
</script>
<div  class="card-content">


<table>
    <thead>
        <tr>

            <th>授课教师</th>
            <th>课程编号</th>
            <th>课程名称</th>

            <th>上课时间</th>
            <th>上课地点</th>
            <th>已选人数/总容量</th>
            <th>详细信息</th>
            <th>学生列表</th>
        </tr>
    </thead>
    <tbody>
    {% if class_list %}
        {% for i in class_list %}

            <tr>
            <td>{{ request_user.last_name }}&nbsp;{{ request_user.first_name }}</td>
            <td>{{ i.course_id }}</td>
            <td>{{ i.course.name }}</td>
            <td>
            {% for j in i.classhasroom_set.all %}
                <div>
                    {% if j.classroom %}
                        {% if j.day == 1 %}
                            周一
                        {% elif j.day == 2 %}
                            周二
                        {% elif j.day == 3 %}
                            周三
                        {% elif j.day == 4 %}
                            周四
                        {% elif j.day == 5 %}
                            周五
                        {% elif j.day == 6 %}
                            周六
                        {% elif j.day == 7 %}
                            周日
                        {% endif %}
                        {{ j.start_at }}-{{ j.end_at }}节
                    {% else %}
                        {{ j.duration }}节课，暂未安排
                    {% endif %}
                </div>
            {% endfor %}
            </td>
            <td>
                {% for j in i.classhasroom_set.all %}
                    {% if j.classroom %}
                            <div>{{ j.classroom.building.campus.name }}{{ j.classroom.building.name }}{{ j.classroom.room_number }}</div>
                        {% else %}
                            <br/>
                    {% endif %}
                {% endfor %}
            </td>

            <td>{{ i.memberCnt}}/{{i.course.capacity}}</td>
                <td><a href="{% url 'info_mgt:course_display' i.course.name %}">查看</a>
            <td><a href="{% url 'class_selection:stu_display' i.id %}">查看</a>
            </tr>
        {% endfor %}
    {% endif %}

    </tbody>
</table>
</div>

{% endblock card_content %}