.operation-btn {
  border: 0;
  background: none;
  color: #66ccff;
}
.operation-btn:focus {
  text-decoration: underline;
  background: none;
}
.float-new-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 60px;
  width: 60px;

  background-color: #005796;
  border-radius: 50%;
}
.table-foot-bar {
  position: absolute;
  bottom: 40px;
  right: 60px;

  color: #aaa;
}
.float-new-btn::before {
  content: '+';
  font-family: "Material-Design-Iconic-Font";
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}