.pager {
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.add-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #336688;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.add-btn::before {
  content: '+';
  display: block;
  width: 60px;
  margin: auto;
  text-align: center;
  font-size: 36px;
  color: #fff;
}

.search-input {
  display: inline-block;
  max-width: 30%;
}

.search-submit {
  display: inline-block;
  width: 75px;
  margin-left: 10px;
  height: 30px;
  background-color: #336688;
  color: #fff;
  border: 1px #fff solid;
}