{% extends 'skeleton.html' %} {% load static %} {% load material_form %} {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'info_mgt/css/info_mgt.css' %}" /> {% endblock extra_head %} {% block card_content %}
<div id="homework" class="card-content">
    <label style="font-size: 25px;">课程名称</label>
    <form action="{%url 'addassignment'%}" method="POST">
        {%csrf_token%}
        <table>
            <tbody>
                <tr>
                    <td>作业名称</td>
                    <td><input type="text" name="作业名" placeholder="输入作业名称" size=20></td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td>
                        <input type="datetime-local" name="开始时间" class="file_search_input" size=20>
                    </td>

                </tr>
                <tr>
                    <td>截止时间</td>
                    <td>
                        <input type="datetime-local" name="截止时间" class="file_search_input" size=20>
                    </td>
                </tr>
                <tr>
                    <td>作业占比</td>
                    <td><input type="text" name="作业占比" placeholder="输入占比。如输入1代表占1%" class="file_search_input" size=20></td>
                </tr>
                <tr>
                    <td>作业详情</td>
                    <td><textarea cols=5 rows=50 name="作业详情" placeholder="输入作业详情。右下角可以调节本框大小。"></textarea></td>
                </tr>
            </tbody>
        </table>
        <div style="float:right">
            <button onclick="  " id="dataRecycle" title="布置作业" class="btn btn-default btn-sm" style="margin-left: 5px;margin-top: 10px;">
            布置作业
            </button>
        </div>
    </form>


    {% endblock card_content %}