{% extends 'skeleton.html' %} {% load static %} {% load material_form %} {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'info_mgt/css/info_mgt.css' %}" /> {% endblock extra_head %} {% block card_content %}
<div id="homework" class="card-content">
    <label style="font-size: 25px;">学期</label>
    <table>
        <thead>
            <tr>
                <th>课程号</th>
                <th>课程名</th>
                <th>上课时间</th>
                <th>
        </thead>
        <tbody>
            {%for list in wlist%}
            <tr>
                <td>{{list.course_id}}</td>
                <td>{{list.coursename}}</td>
                <td>
                    {%for times in list.time%} 周{{times.date}}{%for span in times.timespan%} {{span}}{%endfor%} 节 {%endfor%}
                </td>
                <td>
                    <form action="{%url 'hwlist'%}" method="POST">
                        {%csrf_token%}
                        <input type="submit" name="{{list.Class_id}}" class="operation-btn" value="查看作业">
                    </form>
                </td>
            </tr>
            {%endfor%}

        </tbody>
    </table>

    <!--div class="float-new-btn"></div-->
    <div class="table-foot-bar">上一页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 - 6, 共 1 页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下一页</div>
</div>
{% endblock card_content %}