{% extends 'skeleton.html' %} 

{% load static %} 
{% load material_form %} 

{% block extra_head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'info_mgt/css/info_mgt.css' %}"
/>
{% endblock extra_head %} 

{% block card_content %}
<div id="homework_list" class="card-content">
    <label style="font-size: 25px;">课程名称</label>
    <button onclick=" " id="dataRecycle"
    title="布置作业" class="btn btn-default btn-sm" style="margin-left: 5px; float:right">
    布置作业
    </button>
    <table><thead>
    <tr><th>作业标题</th><th>截止时间</th><th>当前状态</th><th>操作</th><th>
    </thead>
    <tbody>
        <tr>
            <td>第一周作业</td>
            <td>20210621 21:00</td>
            <td>未截止</td>
            <td>
                <button class="operation-btn">查看详情</button>
                <button class="operation-btn">编辑</button>
                <button class="operation-btn">批改</button>
                <button class="operation-btn">删除</button>
            </td>
        </tr>
        <tr>
            <td>Project Final 提交</td>
            <td>20210630 23:59</td>
            <td>未批改</td>
            <td>
                <button class="operation-btn">查看详情</button>
                <button class="operation-btn">编辑</button>
                <button class="operation-btn">批改</button>
                <button class="operation-btn">删除</button>
            </td>
        </tr>
    </tbody>
    </table>

{% endblock card_content %}