 {% extends 'skeleton.html' %} {% load static %} {% load material_form %} {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'info_mgt/css/info_mgt.css' %}" /> {% endblock extra_head %} {% block card_content %}
<div id="rsdetail" class="card-content">
    <label style="font-size: 25px;">课程名 共享资源</label>
    <p></p>
    <div>
        <form action="{%url 'up'%}" enctype="multipart/form-data" method="POST">
            <input type="file" name="myfile">
            <input type="submit" value="submit"> {%csrf_token%}
        </form>
        <button onclick="  " title="新建文件夹" class="btn btn-default btn-sm" type="button" style="margin-right: 5px;">
			新建文件夹
		</button>
        <button onclick=" " id="dataRecycle" title="返回课程列表" class="btn btn-default btn-sm" style="margin-left: 5px;">
			返回课程列表
			</button>
        <span style="float:right">
            <button onclick="  " id="dataRecycle"
            title="搜索" class="btn btn-default btn-sm" style="margin-left: 5px;margin-top: 5px;">
            搜索
            </button>
        </span>
        <span style="float:right">
			<input type="text" placeholder="搜索文件" class="file_search_input" size=20>
		</span>
    </div>


    <table>
        <thead>
            <tr>
                <th>文件名</th>
                <th>文件大小</th>
                <th>上传时间</th>
                <th>上传人</th>
                <th>操作</th>
                <th>
        </thead>

        <tbody>
            {%for item in folder%}
            <tr>
                <td>
                    <img src="{%static 'folder-img.png'%}" width="20px" />
                    <a href="{% url 'rsdetail' ?folder={{ item.id }}">
                    {{item}}
                </a>
                </td>
            </tr>
            {%endfor%} {%for file in files%}
            <tr>
                <td>{{file}}</td>
                <td>256KB</td>
                <td>2021-6-25</td>
                <td>助教</td>
                <td>
                    <form method="POST">
                        {%csrf_token%}
                        <a href="">重命名</a>
                        <a href="{%url 'download' file%}">下载</a>
                        <a href="">删除</a>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock card_content %}