{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_head %}
<link
        rel="stylesheet"
        type="text/css"
        href="{% static 'info_mgt/css/info_mgt.css' %}"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
{% endblock extra_head %}


{% block card_content %}
    <script>
function check(){
    {% if add_success %}
        window.alert('教室添加成功！');
    {% elif add_failure %}
        window.alert('教室添加失败，请稍后重试');
    {% elif duplicate %}
        window.alert('教室添加失败，请检查新教室门牌号是否和同一教学楼已有教室有重复');
        {% elif outofrange %}
        window.alert('门牌号或容量输入不合法')
    {% endif %}
    {% if info_retrieve_failure %}
        window.alert('信息加载失败，请刷新重试。');
    {% endif %}
}
    check();
</script>
<div id="info_mgt" class="card-content">

<form method="post" action="{% url 'add_room' %}">
      {% csrf_token %}
          <label for="campus_selection">校区：</label><br>
          <br>
          <div>
              <select name="campus" style="display: block" class="prefix" required id="campus_selection" onchange="document.getElementById('button1').click()">
                  {% if campus_list %}
                      {% for i in campus_list %}
                      {% if selected_campus and i.id == selected_campus %}
                              <option value="{{ i.id }}" selected>{{ i.name }}</option>
                      {% else %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                      {% endif %}
                    {% endfor %}
{#                  <option value="紫金港">紫金港</option>#}
{#                  <option value="玉泉">玉泉</option>#}
{#                  <option value="西溪">西溪</option>#}
{#                  <option value="华家池">华家池</option>#}
                  {% endif %}
              </select>
          </div>
    <button type="submit" hidden id="button1"></button>
</form>
          <br>
      <form method="post" action="{% url 'add_room_submit' %}">
          {% csrf_token %}
          <label for="building">教学楼：</label>
          <br>
          <br>
          <div>
              <select id="building" name="building" style="display: block" class="prefix" required>
                  {% if building_list %}
                      {% for j in building_list %}
                            <option value="{{ j.id }}">{{ j.name }}</option>
                      {% endfor %}
                  {% endif %}
              </select>
          </div>
          <br>
          <label for="room_id">门牌号：</label>
          <input type="number" placeholder="请输入完整门牌号" name="room_id" id="room_id" required maxlength="10" min="1">
          <br><br>
          <div>
              <label for="room_type">教室类型：</label>
              <select name="room_type" style="display: block" class="prefix" id="room_type" required>
                  <option value="O">普通教室</option>
                  <option value="G">体育场馆</option>
                  <option value="C">电脑机房</option>
              </select>
          </div>
          <br>
          <label for="room_capacity">教室容量（座位数量）：</label>
          <input type="number" placeholder="请输入教室容量" name="room_capacity" id="room_capacity" min="1" required maxlength="5">
          <button class="w-100 btn btn-lg btn-primary" type="submit">提交</button>
      </form>
<div class="operation-btn"></div>
</div>
{% endblock card_content %}
