{% extends 'skeleton.html' %} 

{% load static %} 
{% load material_form %} 

{% block extra_head %}
{% endblock extra_head %}

{% block card_content %}
<div id="class_schedule" class="card-content">
<span style="font-size:30px">当前申请记录</span>
<table style="margin-top:30px;margin-bottom:30px">
    <thead>
        <tr><th>课程名</th><th>原时段</th><th>原地点</th><th>处理结果</th></tr>
    </thead>
    <tbody>
        {% for app in applications %}
        <tr onMouseOver="this.style.backgroundColor='#9fc5db'" onMouseOut="this.style.backgroundColor='white'" onclick="window.location.href='app_spec?application_id={{app.id}}'">
            <td>{{ app.course_name }}</td><td>{{ app.time }}</td><td>{{ app.location }}</td><td>{{ app.result }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<span style="font-size:30px">{{user.name}}的{{schedule.term}}课表</span>
<div style="margin-top:30px">此处需要使用查询页面的课表组件</div>
</div>
{% endblock card_content %}