{% extends 'skeleton.html' %} 

{% load static %} 
{% load material_form %} 

{% block extra_head %}
<style>
.pagination {
    background:none;
    box-shadow:none;
    color:#aaa;
}
.pagination li a {
    color:#111;
    font-size:14px;
}
.table-foot-bar {
  position: absolute;
  bottom: 40px;
  right: 60px;
  color: #aaa;
}
</style>
{% endblock extra_head %} 

{% block card_content %}
<div id="class_schedule" class="card-content">
<span style="font-size:30px">待处理申请</span>
<table style="margin-top:30px">
    <thead>
        <tr><th>申请人</th><th>课程编号</th><th>课程名</th><th>课程时段</th><th>课程地点</th></tr>
    </thead>
    <tbody>
        {% for app in applications_list %}
        <tr onMouseOver="this.style.backgroundColor='#9fc5db'" onMouseOut="this.style.backgroundColor='white'" onclick="window.location.href='{% url 'handle_certain_application' app.id %}'">
            <td>{{ app.applicant }}</td><td>{{ app.course_no }}</td><td>{{ app.course_name }}</td><td>{{ app.time }}</td><td>{{ app.location }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{#<div class="table-foot-bar">#}
{#<nav class="pagination">#}
{#    <li><a href="{% url 'class_schedule:handle_application' %}?page=1">首页</a></li>#}
{#    {% if applications.has_previous %}#}
{#        <li class="long"><a href="?{{ applications.previous_page_number.querystring }}">上一页</a></li>#}
{#    {% endif %}#}
{#    {% for page in applications.pages %}#}
{#        {% if page %}#}
{#            {% ifequal page applications.number %}#}
{#                <li><a href="?{{ page.querystring }}" style="color:#aaa;">{{ page }}</a></li>#}
{#            {% else %}#}
{#                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>#}
{#            {% endifequal %}#}
{#        {% else %}#}
{#            <li class="none"><a href="">...</a></li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    {% if applications.has_next %}#}
{#        <li class="long"><a href="?{{ applications.next_page_number.querystring }}">下一页</a></li>#}
{#    {% endif %}#}
{#    <li><a href="{% url 'class_schedule:handle_application' %}?page={{ applications.paginator.num_pages }}">尾页</a></li>#}
{#    &nbsp;&nbsp;&nbsp;共&nbsp;{{ applications.paginator.num_pages }}&nbsp;页#}
{#</nav>#}
{#</div>#}
  <div class="pager">
    {% if prev_disabled %}
      <span style="color: silver">上一页</span>
    {% else %}
      <a href="{{ prev_page }}">上一页</a>
    {% endif %}
    {{ cur_page }} / {{ page_sum }} 页
    {% if next_disabled %}
      <span style="color: silver">下一页</span>
    {% else %}
      <a href="{{ next_page }}">下一页</a>
    {% endif %}
  </div>
</div>
{% endblock card_content %}