{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_head %}
{% endblock extra_head %}

{% block card_content %}
<div id="class_schedule" class="card-content">
<table>
    <thead>
        <tr><th>授课教师</th><th>课程编号</th><th>课程名称</th><th>课程时段</th><th>课程地点</th></tr>
    </thead>
    <tbody>
        <tr style="border:0">
            <td>{{ course.teacher }}</td>
            <td>{{ course.no }}</td>
            <td>{{ course.name }}</td>
            <td>
                {% for j in rooms %}
                <div>
                    {% if j.day %}
                        {% if j.day == 1 %}
                            周一
                        {% elif j.day == 2 %}
                            周二
                        {% elif j.day == 3 %}
                            周三
                        {% elif j.day == 4 %}
                            周四
                        {% elif j.day == 5 %}
                            周五
                        {% elif j.day == 6 %}
                            周六
                        {% elif j.day == 7 %}
                            周日
                        {% endif %}
                        {{ j.start_at }}-{{ j.end_at }}节
                    {% else %}
                        {{ j.duration }}节课，暂未安排
                    {% endif %}
                </div>
            {% endfor %}
            </td>
            <td>
                {% for j in rooms %}
                    <div>{{ j.classroom.building.campus.name }}{{ j.classroom.building.name }}{{ j.classroom.room_number }}</div>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<form action="{% url 'manipulate_certain_class' course.id %}" method="POST" style="margin-top:30px">
    <table class="tab_03">
    <tbody>
    {% for j in rooms %}
        <tr style="border:0">
        <td width="30%">
            <select name="skrq" id="skrq" class="form-control" value="{{ j.day }}">
            <option value="" disabled selected>设置上课日期</option>
            <option value="1">星期一</option>
            <option value="2">星期二</option>
            <option value="3">星期三</option>
            <option value="4">星期四</option>
            <option value="5">星期五</option>
            <option value="6">星期六</option>
            <option value="7">星期日</option>
            </select>
        </td>
        <td width="30%">
            上课节数：{{ j.duration }}
        </td>
        </tr>
        <tr style="border:0">
        <td width="30%">
            <select name="skxq" id="skxq" class="form-control">
                <option value="" disabled selected>设置上课校区</option>
                {% for c in campus %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
{#            <option value="" disabled selected>设置上课校区</option>#}
{#            <option value="zjg">紫金港</option>#}
{#            <option value="yq">玉泉</option>#}
{#            <option value="xx">西溪</option>#}
{#            <option value="hjc">华家池</option>#}
{#            <option value="zj">之江</option>#}
{#            <option value="zs">舟山</option>#}
            </select>
        </td>
        <td width="30%">
            <select name="skjxl" id="skjxl" class="form-control">
            <option value="" disabled selected>设置上课教学楼</option>
            <option value="?">这里后续添加动态选项</option>
            </select>
        </td>
        <td>
            <input placeholder="设置上课教室" type="text" name="jshm" value="" id="jshm" class="form-control">
        </td>
        <tr style="border:0">
            <td colspan="5" style="text-align:center"><button type="submit" style="margin-left:15px;background:#08c" class="btn btn-primary btn-sm" id="btn_cxjxb"> 提交更改 </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</form>
</div>
<script language="javascript">
    $(document).ready(function(){
    $('select').formSelect();
    //等待完善
    $("#skxq").bind("change",function(){
        var skxq = $(this).val();
        var url = "findjxlbyxq";
        $.post(url,{"skxq":skxq},function(rd){
            $("#skjxl").empty();
	        $("#skjxl").append("<option value=‘’ disabled selected>设置上课教学楼</option>");
            var dataObj=eval("("+rd+")");
            for(var i=0;i<dataObj.length;i++){
                var jxlid=dataObj[i].jxlid;
                var jxlmc=dataObj[i].jxlmc;
                $("#skjxl").append("<option value='"+jxlid+"'>"+jxlmc+"</option>");
            }
        });
    });
    });
</script>
{% endblock card_content %}