{% extends 'skeleton.html' %} 

{% load static %} 
{% load material_form %} 

{% block extra_head %}
{% endblock extra_head %}

{% block card_content %}

<div id="class_schedule" class="card-content">
<script>
    function change_search_type(selection, input_id, select_day_id, select_campus_id){
        if(selection === 'sksj'){
            document.getElementById(input_id).setAttribute('hidden', '');
            document.getElementById(input_id).setAttribute('disabled', '');
            document.getElementById(select_day_id).removeAttribute('hidden');
            document.getElementById(select_campus_id).setAttribute('hidden', '');
        }
        else if(selection === 'skxq'){
            document.getElementById(input_id).setAttribute('hidden', '');
            document.getElementById(input_id).setAttribute('disabled', '');
            document.getElementById(select_day_id).setAttribute('hidden', '');
            document.getElementById(select_campus_id).removeAttribute('hidden');
        }
        else {
            document.getElementById(input_id).removeAttribute('hidden');
            document.getElementById(input_id).removeAttribute('disabled');
            document.getElementById(select_day_id).setAttribute('hidden', '');
            document.getElementById(select_campus_id).setAttribute('hidden', '');
        }
    }
</script>
<form class="input-field" method="GET" style="margin-bottom:30px">
    <table class="tab_03">
    <tbody>
        <tr style="border:0">
        <td width="30%">
            <select name="cx_cxlb_1" id="cx_cxlb_1" class="form-control" onchange="change_search_type(this.value, 'input_1', 'day_select_1', 'campus_select_1')">
                <option value="none" disabled selected>选择查询类别</option>
                <option value="kcbh">课程编号</option>
                <option value="skjs">授课教师</option>
                <option value="jxbbh">教学班编号</option>
                <option value="kcmc">课程名称</option>
                <option value="sksj">上课时间</option>
                <option value="skxq">上课校区</option>
            </select>
        </td>
        <td id="search1">
            <div id="input_1">
                <input type="text" name="cx_cxnr_1" value="" id="cx_cxnr_1" class="form-control">
            </div>
            <div id="day_select_1" hidden>
                <select name="day1" id="day1" class="form-control">
                    <option value="1">星期一</option>
                    <option value="2">星期二</option>
                    <option value="3">星期三</option>
                    <option value="4">星期四</option>
                    <option value="5">星期五</option>
                    <option value="6">星期六</option>
                    <option value="7">星期日</option>
                </select>
            </div>
            <div id="campus_select_1" hidden>
                <select name="campus1" id="campus1" class="form-control">
                    {% for i in campus_list %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </td>
        </tr>
        <tr style="border:0">
        <td colspan="5">
            <label>
                <input style="margin-left:15px" name="logic" type="radio" id="cx_zbgx_and" value="and" checked/>
                <span>与</span>
            </label>
            <label>
                <input style="margin-left:15px" name="logic" type="radio" id="cx_zbgx_or" value="or" />
                <span>或</span>
            </label>
        </td>
        </tr>
        <tr style="border:0">
        <td>
            <select name="cx_cxlb_2" id="cx_cxlb_2" class="form-control" onchange="change_search_type(this.value, 'input_2', 'day_select_2', 'campus_select_2')">
                <option value="none" disabled selected>选择查询类别</option>
                <option value="kcbh">课程编号</option>
                <option value="skjs">授课教师</option>
                <option value="jxbbh">教学班编号</option>
                <option value="kcmc">课程名称</option>
                <option value="sksj">上课时间</option>
                <option value="skxq">上课校区</option>
            </select>
        </td>
        <td id="search2">
            <div id="input_2">
                <input type="text" name="cx_cxnr_2" value="" id="cx_cxnr_2" class="form-control">
            </div>
            <div id="day_select_2" hidden>
                <select name="day2" id="day2" class="form-control">
                    <option value="1">星期一</option>
                    <option value="2">星期二</option>
                    <option value="3">星期三</option>
                    <option value="4">星期四</option>
                    <option value="5">星期五</option>
                    <option value="6">星期六</option>
                    <option value="7">星期日</option>
                </select>
            </div>
            <div id="campus_select_2" hidden>
                <select name="campus2" id="campus2" class="form-control">
                    {% for i in campus_list %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </td>
        </tr>
        <tr>
            <td colspan="5" style="text-align:center"><button type="submit" style="margin-left:15px;background:#08c" class="btn btn-primary btn-sm" id="btn_cxjxb"> 查询教学班 </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    </tbody>
    </table>
</form>

<span style="font-size:30px">查询结果</span>
<table style="margin-top:30px">
    <thead>
        <tr>
            <th>授课教师</th>
            <th>课程编号</th>
            <th>课程名称</th>
            <th>教学班编号</th>
            <th>上课时间</th>
            <th>上课地点</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr onMouseOver="this.style.backgroundColor='#9fc5db'" onMouseOut="this.style.backgroundColor='white'" onclick="window.location.href='{% url 'manipulate_certain_class' course.first_section_id %}'">
            <td>{{ course.teacher_name }}</td>
            <td>{{ course.course.id }}</td>
            <td>{{ course.course.name }}</td>
            <td>{{ course.id }}</td>
            <td>
                {% for j in course.classhasroom_set.all %}
                <div>
                    {% if j.classroom %}
                        {% if j.day == 1 %}
                            周一
                        {% elif j.day == 2 %}
                            周二
                        {% elif j.day == 3 %}
                            周三
                        {% elif j.day == 4 %}
                            周四
                        {% elif j.day == 5 %}
                            周五
                        {% elif j.day == 6 %}
                            周六
                        {% elif j.day == 7 %}
                            周日
                        {% endif %}
                        {{ j.start_at }}-{{ j.end_at }}节
                    {% else %}
                        {{ j.duration }}节课，暂未安排
                    {% endif %}
                </div>
            {% endfor %}
            </td>
            <td>
                {% for j in course.classhasroom_set.all %}
                    {% if j.classroom %}
                        <div>{{ j.classroom.building.campus.name }}{{ j.classroom.building.name }}{{ j.classroom.room_number }}</div>
                    {% else %}
                        <br/>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function(){
    $('select').formSelect();
    });
</script>
{% endblock card_content %}