{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}


{% block extra_head %}
<link
        rel="stylesheet"
        type="text/css"
        href="{% static 'info_mgt/css/info_mgt.css' %}"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
{% endblock extra_head %}

{% block card_content %}
    <script>
        {% if delete_room_successfully %}
        alert("教室删除成功")
        {% elif delete_room_failed %}
            alert("教室删除失败")
        {% endif %}
        {% if info_retrieve_failure %}
            alert('信息加载失败，请刷新重试')
        {% endif %}
        {% if modify_succeeded %}
            alert('教室信息修改成功！');
        {% elif modify_failed %}
            alert('教室信息修改失败，请稍后重试');
        {% elif duplicated %}
            alert('教室信息修改失败，请检查门牌号是否有重复');
        {% elif no_such_room %}
            alert('教室不存在')
        {% elif outofrange %}
            alert('输入的门牌号或容量不合法')
        {% endif %}
</script>
<div class="card-content">
<table>
    <thead>
        <tr>
            <th>校区</th>
            <th>教学楼</th>
            <th>门牌号</th>
            <th>教室类型</th>
            <th>教室容量</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% if room_list %}
      {% for i in room_list %}
      <tr>
        <td>{{ i.building.campus.name }}</td>
        <td>{{ i.building.name }}</td>
        <td>{{ i.room_number }}</td>
        <td>
            {% if i.type == 'O' %}
                普通教室
            {% elif i.type == 'G' %}
                体育场馆
            {% elif i.type == 'C' %}
                机房
            {% endif %}
        </td>
        <td>{{ i.capacity }}</td>
        <td>
           <a class="operation-btn" name="modify_room" href="{% url 'modify_certain_room' i.id %}">修改</a>
           <!-- 点击修改的时候，会跳转到modify_certain_room.html界面，对特定教室进行修改 -->
           <button class="operation-btn" name="delete_room" onclick="DeleteCheck()">删除</button>
           <!-- 这里点击删除后会调出确认框，如果点击确认的话就在数据库中删除该教室，如果取消则不发生。删除后返回delete_room_successfully
            来判断是否删除成功-->
           <script type="text/javascript">
                function DeleteCheck() {
                    let my_message=confirm("确定要删除该教室吗?");
                    if(my_message === true)
                    {
                        <!-- 在数据库中删除该教室-->
                        window.location.replace({% url 'delete_room' i.id %})
                    }
                    else
                    {

                    }
                }
           </script>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
    </tbody>
</table>
  <div class="pager">
    {% if prev_disabled %}
      <span style="color: silver">上一页</span>
    {% else %}
      <a href="{{ prev_page }}">上一页</a>
    {% endif %}
    {{ cur_page }} / {{ page_sum }} 页
    {% if next_disabled %}
      <span style="color: silver">下一页</span>
    {% else %}
      <a href="{{ next_page }}">下一页</a>
    {% endif %}
  </div>
</div>
{% endblock card_content %}
