{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_head %}
<link
        rel="stylesheet"
        type="text/css"
        href="{% static 'info_mgt/css/info_mgt.css' %}"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"/>
{% endblock extra_head %}

{% block card_content %}
<div id="info_mgt" class="card-content">
      <form method="post">
      <script>
          function reset() { //重置所有的选项
              document.getElementById('campus').value = {{ original_info.building.campus.id }};
              document.getElementById('building').value = {{ original_info.building.id }};
              document.getElementById('room_number').value = {{ original_info.room_number }};
              document.getElementById('room_type').value = {{ original_info.type }};
              document.getElementById('capacity').value = {{ original_info.capacity }};
          }
          reset();
          {% if info_retrieve_failure %}
              alert('信息获取失败，请刷新重试');
          {% endif %}
      </script>
          {% csrf_token %}
          校区：<!--{{ original_info.building.campus.name }}-->
          <br/><br/>
          <div>
              <select name="campus" id="campus" style="display: block" class="prefix" onchange="adjust_building_choices(this.value)">
                  {% if campus_list %}
                      {% for i in campus_list %}
                          <option value="{{ i.id }}">i.name</option>
                      {% endfor %}
                  {% endif %}
{#                  <option value="紫金港">紫金港</option>#}
{#                  <option value="玉泉">玉泉</option>#}
{#                  <option value="西溪">西溪</option>#}
{#                  <option value="华家池">华家池</option>#}
              </select>
          </div>
          <br>
          教学楼：<!--{{ original_info.building.name }}-->
          <br/><br/>
          <div>
          <script>
          function adjust_building_choices(campus_id) //只显示选择的校区对应的教室
          {
              let options = '';
              {% if building_list %}
                  {% for j in building_list %}
                      if(campus_id === {{ j.campus.id }})
                        options += '<option value="{{ j.id }}">{{ j.name }}</option>';
                  {% endfor %}
              {% endif %}
              document.getElementById('building').innerHTML = options;
          }
      </script>
              <select name="building" style="display: block" class="prefix" id="building">
                  {% if building_list %}
                      {% for j in building_list %}
                          <option value="{{ j.id }}">{{ j.name }}</option>
                      {% endfor %}
                  {% endif %}
{#                  <option value="西一">西一</option>#}
{#                  <option value="西二">西二</option>#}
{#                  <option value="西三">西三</option>#}
{#                  <option value="东一">东一</option>#}
{#                  <option value="东二">东二</option>#}
{#                  <option value="东三">东三</option>#}
{#                  <option value="东四">东四</option>#}
{#                  <option value="东五">东五</option>#}
{#                  <option value="东六">东六</option>#}
{#                  <option value="紫金港机房">紫金港机房</option>#}
{#                  <option value="东操场">东操场</option>#}
{#                  <option value="风雨操场">风雨操场</option>#}
              </select>
          </div>
          <br>
          门牌号：<!--{{ original_info.room_number }}-->
          <input type="number" placeholder="请输入完整门牌号" name="room_number" id="room_number">
          教室类型：{{ original_info.room_type }}
          <br><br>
          <div>
              <select name="room_type" style="display: block" class="prefix" id="room_type">
                  <option value="O">普通教室</option>
                  <option value="G">体育场馆</option>
                  <option value="C">电脑机房</option>
              </select>
          </div>
          <br>
          教室容量：<!--{{ original_info.capacity }}-->
          <input type="number" placeholder="请输入新的教室容量" name="room_capacity" id="capacity" min="1">
          <button class="w-100 btn btn-lg btn-primary" type="submit">修改教室</button>
          <!-- 提交之后，数据库中内容进行修改，同时跳转回modify_room.html -->
      </form>
<div class="operation-btn"></div>
</div>
{% endblock card_content %}
