{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'online_exam/css/style.css' %}"/>
{% endblock extra_css %}

{% block card_content %}
    <style type="text/css">
        #mbutton{
            width: 100px;
            text-align: center;
            height: 40px;
            background-color: red;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 0.3em;
        }
    </style>
    <form method="post">
        {% csrf_token %}
        请输入学科：<input type="text" placeholder="请输入学科名称" name="course">
        请输入起始章节：<input type="text" placeholder="请输入起始章节" name="chapter1">
        请输入截止章节：<input type="text" placeholder="请输入截止章节" name="chapter2">
        请输入难度等级(1-5)：<input type="text" placeholder="请输入难度等级(1-5)" name="hard">
        请输入总分值：<input type="text" placeholder="请输入总分值" name="totalscore">
        <button type="submit" id="mbutton">确认</button>
    </form>
{% endblock card_content %}