{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extracss %}
{% endblock extracss %}

{% block card_content %}
    <style type="text/css">
        #mheader1{
            font-size: 30px;
            color: black;
            background-color: white;
            width: 200px;
            border: #3d443d;
        }
    </style>
    <div id="online_exam">
        <button onclick="window.location.href='main'" id="mheader1">进入题库</button>
        <button onclick="window.location.href='generate_paper'" id="mheader1">生成试卷</button>
        <button style="background-color: #3399ff;border-radius: 5px" id="mheader1">发布测试</button>
        <button onclick="window.location.href='test_info'" id="mheader1">考试信息</button>
        <button onclick="window.location.href='paper_ana'" id="mheader1">试卷分析</button>
        <br />
     <hr size="10px"/>

    </div>
{% endblock card_content %}