.content {
  justify-content: center;
}

#main-card {
  position: relative;
  min-width: 90%;
  margin: 30px;
  padding: 30px;
  display: flex;
  border-radius: 10px;
  background-color: white;
  min-height: 100vh;
}

.card-content {
  width: 100%;
}