{% extends 'material/frontend/base.html' %}

{% load material_form %}

{% load static %}

{% block extrahead %}
  <link href="{% static 'template.css' %}"  rel="stylesheet">
  {% block extra_head %}{% endblock %}
{% endblock extrahead %}

{% block favicon %}
  {{ block.super }}
  {% comment %} TODO: design a favicon 
  <link href="{% static 'material/imgs/favicon.png' %}" rel="shortcut icon">
  {% endcomment %}
{% endblock favicon %}

{% block title %}
  {{ web_title }}
{% endblock title %}
{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block sidenav_header %}
  <li>
    <div class="user-view">
      <div class="background" >
        <img src="{% static 'material/imgs/sidenav.svg' %}">
      </div>
      {% block userphoto %}
        {% if user.photo.url %}
          <a href="#"><img class="circle" src="{{ user.photo.url }}"></a>
        {% else %}
          <a href="#"><img class="circle" src="{% static 'material/imgs/user.png' %}"></a>
        {% endif %}
      {% endblock %}
      <a href="#"><span class="white-text name">{{ user.first_name | title }} {{ user.last_name | title }}</span></a>
      <a href="#"><span class="white-text email">{{ user.email }}</span></a>
    </div>
  </li>
{% endblock %}

{% block sidenav_items %}
  {% for module in modules %}
    {% if current_module == module %}
      <li class="active">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a href="{{ module.index_url }}" class="collapsible-header active">{{ module.display_name }}{{ module.icon|safe }}</a>
            <div class="collapsible-body" style="display:block">
              <ul class="collapsible">
                {% for submodule in module.submodules %}
                  {% if cur_submodule == submodule.name %}
                    <li class="sub-nav sub-active">
                      <a href="{{ module.index_url }}{{ submodule.link }}">{{ submodule.text }}</a>
                    </li>
                  {% else %}
                    <li class="sub-nav">
                      <a href="{{ module.index_url }}{{ submodule.link }}">{{ submodule.text }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
      </li>
    {% else %}
      <li {% if forloop.last %}class="last"{% endif %}>
        <a href="{{ module.index_url }}" class="collapsible-header" data-turbolinks="false">{{ module.display_name }}{{ module.icon|safe }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endblock sidenav_items %}

{% block content %}
  <div id="main-card">
    {% block card_content %}{% endblock card_content %}
  </div>
{% endblock content %}

{% block footer %}
  {% comment %} TODO: customize a footer {% endcomment %}
{% endblock footer %}