{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    {% block html_head %}
    <meta charset="utf-8" />
    {% block import_css %}{% endblock import_css %}
    {% endblock html_head %}
  </head>

  <body>
    <div id="page-header">
      {% block page_header %}
      <h1>This is the header.</h1>
      {% endblock page_header %}
    </div>
    <div id="page-navigator">
      {% block page_navigator %}
      <h1>This is the navigator.</h1>
      {% endblock page_navigator %}
    </div>
    <div id="page-content">
      {% block page_content %}
      <h1>Please insert your own content here.</h1>
      {% endblock page_content %}
    </div>
    <div id="page-footer">
      {% block page_footer %}
      <h1>This is the footer.</h1>
      {% endblock page_footer %}
    </div>
  </body>
</html>
