{% extends 'skeleton.html' %} {% load static %}

{% block import_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'template/css/template.css' %}" />
  {% block extra_css %}{% endblock extra_css %}
{% endblock import_css  %}

{% block page_header %}
  TODO: Finish the header in template.html
{% endblock page_header %}

{% block page_navigator %}
  TODO: Finish the navigator in template.html
{% endblock page_navigator %}

{% block page_content %}
  <h1>If you see this, you should write your own page content</h1>
{% endblock page_content %}

{% block page_footer %}
  TODO: Finish the footer in template.html
{% endblock page_footer %}