html,
body {
  margin: 0 auto;
}

:root {
  /* here we can define some global variables */
  --bar-color: #3d443d;
}

#page-header {
  --header-height: 70px;
  position: relative;
  background-color: var(--bar-color);
  color: #f2f2f2;
  height: var(--header-height);

  display: flex;
  justify-content: center;
}

.title {
  line-height: 60px;
  font-size: 36px;
  font-weight: bold;

  position: absolute;
  top: 5px;
  left: 40px;
}

.nav-list {
  position: absolute;
  /* TODO: hardcode this variable after the title is decided. */
  --nav-left-pos: 200px;
  left: var(--nav-left-pos);
}

.nav {
  text-decoration: none;
  color: #bbb;
  font-size: 18px;
  line-height: var(--header-height);
  text-align: center;

  display: inline-block;
  width: 8vw;
  height: var(--header-height);
}

.nav:hover {
  background-color: #888;
  color: #fff;
}

.avt {
  --avt-height: 50px;
  height: var(--avt-height);
  width: var(--avt-height);
  border-radius: 50%;
  background-color: #aaa;
  color: #fff;

  font-size: 24px;
  line-height: var(--avt-height);
  text-align: center;

  cursor: pointer;

  position: absolute;
  right: 40px;
  top: 10px;
}

.avt img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.avt-popup {
  font-size: 12px;

  background-color: var(--bar-color);
  width: 100px;
  transform: translateX(-20px);
}
.avt-popup div {
  border-bottom: 1px solid #fff;
}
.avt-popup:last-child {
  border-bottom: 0;
}
.avt-popup a {
  text-decoration: none;
  color: #f2f2f2;
  cursor: pointer;
}

.avt .avt-popup {
  display: none;
}
.avt:hover .avt-popup {
  display: block;
}

#page-content {
  min-height: 90vh;
  max-width: 90vw;
  margin: 20px auto;
  border: green solid 2px;
}

#page-footer {
  --footer-height: 50px;
  background-color: var(--bar-color);
  color: #f2f2f2;
  height: var(--footer-height);

  line-height: var(--footer-height);
  text-align: center;
}
